# Go
/shepherd
*.exe
*.test
*.out

# Byte-compiled Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
venv/
ENV/

# Node
node_modules/

# Build output
usercode/
shepherd/shepherd/static/image.jpg

# IDE
.idea
.vscode

# Fake Pi packages
RPi
smbus
robot

# Old manually built docs
manuallybuiltsheep
manuallybuiltdocs
sheepsrc/.idea

# MkDocs
/site
