[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
Pillow = "*"
"enum34" = "*"
pytz = "*"
python-language-server = "*"
flask-cors = "*"
flask-sockets = "*"
jsonrpc = "*"
"RPi.GPIO" = "*"
pykoki = {git = "https://github.com/systemetric/pykoki"}
"smbus2" = "*"

[dev-packages]
"flake8-future-import" = "*"
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.12"
