{% extends "base.html" %}
{% set title = "Run" %}
{% block head %}
<script src="/static/iframeResizer.min.js"></script>
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Run</h1>
    <div></div>
  </div>

{% if state == states.ready %}
<div class="alert alert-success" role="alert">
  Status: Ready to run
</div>
<p>The robot is ready to run.</p>
<form method="post" action="start">
  <div class="card mb-3">
    <div class="card-header">Zone:</div>
    <div class="card-body">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="zone" id="zone-0" value="0" checked>
        <label class="form-check-label" for="zone-0">0</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="zone" id="zone-1" value="1">
        <label class="form-check-label" for="zone-1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="zone" id="zone-2" value="2">
        <label class="form-check-label" for="zone-2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="zone" id="zone-3" value="3">
        <label class="form-check-label" for="zone-3">3</label>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">Mode:</div>
    <div class="card-body">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="mode" id="mode-development" value="development" checked>
        <label class="form-check-label" for="mode-development">Development</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="mode" id="mode-competition" value="competition">
        <label class="form-check-label" for="mode-competition">Competition</label>
      </div>
    </div>
  </div>
  <p><button class="btn btn-primary btn-lg">Start</button></p>
</form>
{% elif state == states.running %}
<div class="alert alert-info" role="alert">
  Status: Running
</div>
<p>The robot is currently running! You can stop it with this button:</p>
<form method="post" action="stop">
  <button class="btn btn-danger btn-lg">Stop</button>
</form>
{% if display_time_left %}
<div class="card mb-3">
  <div class="card-header">Time Left:</div>
  <div class="card-body">
    <iframe class="w-100" frameborder="0" id="time-left" src="{{ url_for(".get_time_left") }}"></iframe>
  </div>
</div>
{% endif %}
{% elif state == states.post_run %}
<div class="alert alert-success" role="alert">
  Status: Finished
</div>
<p>The robot has finished running its code. You'll need to reboot it before it can run again.</p>
<!--
<form method="post" action="reset">
  <p>Alternatively, you could attempt to reset the robot without a reboot by using this button: <button>Reset</button></p>
  <p>Note that this may not work as intended, especially if you're using any custom hardware. You may get strange errors after doing a software reset that would not occur after a fresh boot.</p>
</form>
-->
{% else %}
<div class="alert alert-danger" role="alert">
  Status: Broken
</div>
<p>Something has gone terribly wrong! Shepherd can't tell what state the robot is in. Try a reboot.</p>
{% endif %}

<div class="card mb-3">
  <div class="card-header">Robot Camera Feed:</div>
  <div class="card-body">
    <iframe class="w-100" style="height: 400px;" frameborder="0" id="picture" src="{{ url_for(".get_picture") }}"></iframe>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">Program output:</div>
  <div class="card-body">
    <iframe class="w-100" style="height: 400px;" frameborder="0" id="output" src="{{ url_for(".get_output") }}"></iframe>
  </div>
</div>
{% if state == states.running %}
<script>
  function reloadOutput() {
    /* https://stackoverflow.com/a/86771/5951320 */
    document.getElementById("output").contentWindow.location.reload()
  }
  window.setInterval(reloadOutput, 1000)
</script>
{% endif %}
{% if state == states.running or state == states.post_run %}
<div class="card mb-3">
  <div class="card-header">Configuration:</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Zone:</strong> {{ zone }}</li>
      <li class="list-group-item"><strong>Mode:</strong> {{ mode }}</li>
      <li class="list-group-item"><strong>Competition timer disabled:</strong> {{ disable_reaper }}</li>
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}
