{% extends "base.html" %}

{% block head %}
    <title>Shepherd - About</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>About Shepherd</h1>
                <p class="lead">Shepherd is a lightweight code management system for robotics.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <h2>Copyright Notices</h2>
                <p>Shepherd uses the Ubuntu and Ubuntu Mono fonts, which are used under the <a href="http://font.ubuntu.com/ufl/">Ubuntu Font License 1.0</a>, as well as Inter UI, which is used under the <a href="https://choosealicense.com/licenses/ofl-1.1/">Open Font License 1.1</a>.</p>
                <p>Shepherd is written in Python 3, and uses the Flask and enum34 libraries, used under the BSD licence, and the ptyz library, used under the MIT licence.</p>
            </div>
        </div>
    </div>
{% endblock %}
